{% extends 'base.html' %}

{% block title %}Lista Pagamento{% endblock title %}

{% block content %}

    <div class="container">
        <div class="message">
            {% if messages %}
                <br>
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if valor %}
            <div class="lista-salario-total">        

                <table>
                    <thead>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Opções</th>
                    </thead>
                    <tbody>
                        {% for sal in salario %}
                        <tr>
                            <td>{{ sal.data|date:"d/m" }}</td>
                            <td>€ {{ sal.salario }}</td>
                            <td>
                                <a href="{% url 'deletar' sal.pk %}">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <thead>
                            <th colspan="2">Total</th>
                            <th>€ {{ valor }}</th>
                        </thead>
                    </tfoot>
                </table>

            </div>
        {% else %}
            <h2>Não à valores informados.</h2>
        {% endif %}
    </div>

{% endblock content %}